<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
 
 <!--  <welcome-file-list>
    <welcome-file>/WEB-INF/login.jsp</welcome-file>
  </welcome-file-list> -->
  
<!--   <filter>
    <filter-name>SysFilter</filter-name>
    <filter-class>cn.smbms.filter.SysFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>SysFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping> -->
  
<servlet>
	<servlet-name>errorPage</servlet-name>
	<jsp-file>/WEB-INF/error.jsp</jsp-file>
 </servlet>
 <servlet-mapping>
	<servlet-name>errorPage</servlet-name>
	<url-pattern>/error</url-pattern>
 </servlet-mapping>
  
 <!-- ========================================================================================= -->
  
 <servlet>
	<servlet-name>springmvc</servlet-name>
	<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
	<!-- 初始化参数 -->
	<init-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:springmvc-servlet.xml</param-value>
	</init-param>
	<!-- 服务启动时，自动加载 -->
	<load-on-startup>1</load-on-startup>
 </servlet>
 <servlet-mapping>
	<servlet-name>springmvc</servlet-name>
	<url-pattern>/</url-pattern>
 </servlet-mapping>
 
 <!-- spring提供的处理中文乱码 -->
<filter>
	<filter-name>CharacterEncodingFilter</filter-name>
	<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
	<init-param>
		<param-name>encoding</param-name>
		<param-value>utf-8</param-value>
	</init-param>
</filter>
<filter-mapping>
		<filter-name>CharacterEncodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
</filter-mapping>

<listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
</listener>
<context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>classpath:applicationContext-mybatis-spring.xml</param-value>
</context-param>
<!-- Spring Web提供的代理过滤器，将拦截到的请求全部交给一个名为springSessionRepositoryFilter(一定要这个名字)的过滤器进行处理
	这个过滤器的目的是把请求全部委托给applicationContext定义的bean>>RedisHttpSessionConfiguration -->
<filter>
	<filter-name>springSessionRepositoryFilter</filter-name>
	<filter-class>org.springframework.web.filter.DelegatingFilterProxy
	</filter-class>
</filter>
<filter-mapping>
	<filter-name>springSessionRepositoryFilter</filter-name>
	<url-pattern>/*</url-pattern>
</filter-mapping>
</web-app>