<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.smbms.dao.bill.BillMapper">

	<resultMap type="Bill" id="billList">
	  	<id property="id" column="id"/>
	  	<result property="billCode" column="billCode"/>
	  	<result property="productName" column="productName"/>
	  	<result property="productDesc" column="productDesc"/>
	  	<result property="productUnit" column="productUnit"/>
	  	<result property="productCount" column="productCount"/>
	  	<result property="totalPrice" column="totalPrice"/>
	  	<result property="isPayment" column="isPayment"/>
	  	<result property="createdBy" column="createdBy"/>
	  	<result property="creationDate" column="creationDate"/>
	  	<result property="modifyBy" column="modifyBy"/>
	  	<result property="modifyDate" column="modifyDate"/>
	  	<result property="providerId" column="providerId"/>
	  	<result property="providerName" column="providerName"/>
  	</resultMap>
  
	<!-- 增加订单 -->
	<insert id="add">
		insert into smbms_bill 
		(billCode,productName,productDesc,productUnit,productCount,totalPrice,isPayment,providerId,createdBy,creationDate)
		values(#{billCode},#{productName},#{productDesc},#{productUnit},#{productCount},#{totalPrice},#{isPayment},#{providerId},#{createdBy},#{creationDate})
	</insert>

	<!-- 通过查询条件获取供应商列表-模糊查询-getBillList -->
	<select id="getBillList" resultMap="billList" parameterType="Bill">
		select b.*,p.proName as providerName 
		from smbms_bill b, smbms_provider p 
		where b.providerId = p.id
		<if test="productName != null and productName != ''">
			and productName like CONCAT ('%',#{productName},'%')
		</if>
		<if test="providerId > 0">
			and providerId = #{providerId}
		</if>
		<if test="isPayment > 0">
			and isPayment = #{isPayment}
		</if>
	</select>
  
  
  <!-- 通过delId删除Bill -->
  <delete id="deleteBillById">
  	delete from smbms_bill where id = #{delId}
  </delete>
  
  <select id="getBillById" resultMap="billList">
  	select b.*,p.proName as providerName 
  	from smbms_bill b, smbms_provider p
	where b.providerId = p.id and b.id = #{id}
  </select>
  
  <!-- 修改订单信息 -->
	<update id="modify">
		update smbms_bill 
		set productName = #{productName},
		productDesc = #{productDesc},
		productUnit = #{productUnit},
		productCount = #{productCount},
		totalPrice = #{totalPrice},
		isPayment = #{isPayment},
		providerId = #{providerId},
		modifyBy = #{modifyBy},
		modifyDate = #{modifyDate} 
		where id = #{id} 
	</update>
	
	<select id="getBillCountByProviderId" resultType="int">
   	 	select count(1) as billCount from smbms_bill where providerId = #{providerId}
  	</select>
</mapper>


